#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml
#

image:
  # -- image repository
  repository: ghcr.io/gotify/server
  # -- image pull policy
  pullPolicy: IfNotPresent
  # -- image tag
  tag: 2.2.4

# -- Environment variables. [[ref]](https://gotify.net/docs/config#environment-variables)
# @default -- See [values.yaml](./values.yaml)
env:
  # -- Set the container timezone
  TZ: UTC
  # -- Default admin username
  GOTIFY_DEFAULTUSER_NAME: admin
  # -- Default admin password
  GOTIFY_DEFAULTUSER_PASS: admin
  # -- Allow registration
  GOTIFY_REGISTRATION: "false"

# -- Configures service settings for the chart.
# @default -- See [values.yaml](./values.yaml)
service:
  main:
    ports:
      http:
        port: 80

ingress:
  # -- Enable and configure ingress settings for the chart under this key.
  # @default -- See [values.yaml](./values.yaml)
  main:
    enabled: false
    # hosts:
    #   - host: chart-example.local
    #     paths:
    #       - path: /
    # tls:
    #   - secretName: chart-example.local
    #     hosts:
    #       - chart-example.local

# -- Configure persistence settings for the chart under this key.
# @default -- See [values.yaml](./values.yaml)
persistence:
  data:
    enabled: false
    mountPath: /app/data
    retain: true
    # storageClass: ""
    # accessMode: ReadWriteOnce
    # size: 1Gi

podSecurityContext:
  # -- Run as `nobody` user
  runAsUser: 65534
  # -- Run as `nobody` group
  runAsGroup: 65534
  # -- Volume binds will be granted to `nobody` group
  fsGroup: 65534

# -- Enable and configure postgresql database subchart under this key.
#    [[ref]](https://github.com/bitnami/charts/tree/master/bitnami/postgresql)
# @default -- See [values.yaml](./values.yaml)
postgresql:
  enabled: false
  auth:
    database: gotify
    postgresPassword: changeme
  primary:
    persistence:
      enabled: false
      # storageClass: ""
      # size: 8Gi
