apiVersion: v2
name: bookstack
description: A simple, self-hosted, easy-to-use platform for organising and storing information.
home: https://charts.gabe565.com/charts/bookstack/
icon: https://raw.githubusercontent.com/gabe565/charts/main/charts/bookstack/icon.svg
type: application
version: 0.12.4
# renovate datasource=docker depName=ghcr.io/linuxserver/bookstack
appVersion: version-v23.08.3
kubeVersion: ">=1.22.0-0"
keywords:
  - bookstack
  - wiki
  - documentation
dependencies:
  - name: common
    repository: https://bjw-s.github.io/helm-charts
    version: 1.5.1
  - name: mariadb
    version: 11.5.7
    repository: https://charts.bitnami.com/bitnami
    condition: mariadb.enabled
sources:
  - https://github.com/BookStackApp/BookStack
  - https://github.com/linuxserver/docker-bookstack
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: Pin bjw-s common chart links to v1
  artifacthub.io/links: |-
    - name: App Source
      url: https://github.com/BookStackApp/BookStack
    - name: Container Source
      url: https://github.com/linuxserver/docker-bookstack
    - name: Chart Source
      url: https://github.com/gabe565/charts/tree/main/charts/bookstack
