apiVersion: v2
name: bookstack
description: A simple, self-hosted, easy-to-use platform for organising and storing information.
home: https://charts.gabe565.com/charts/bookstack
icon: https://raw.githubusercontent.com/gabe565/charts/main/charts/bookstack/icon.svg
type: application
version: 0.2.2
# renovate image=ghcr.io/linuxserver/bookstack
appVersion: version-v22.11.1
kubeVersion: ">=1.22.0-0"
keywords:
  - bookstack
  - wiki
  - documentation
dependencies:
  - name: common
    repository: https://bjw-s.github.io/helm-charts
    version: 1.2.1
  - name: mariadb
    version: 11.4.2
    repository: https://charts.bitnami.com/bitnami
    condition: mariadb.enabled
sources:
  - https://github.com/gabe565/charts/tree/main/charts/bookstack
  - https://bookstackapp.com
  - https://github.com/BookStackApp/BookStack
  - https://ghcr.io/linuxserver/bookstack
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: Replace png icon with svg
