apiVersion: v2
name: obico
description: Obico is a community-built, open-source smart 3D printing platform used by makers, enthusiasts, and tinkerers around the world.
home: https://charts.gabe565.com/charts/obico
icon: https://raw.githubusercontent.com/TheSpaghettiDetective/OctoPrint-Obico/master/octoprint_obico/static/img/logo-square.svg
type: application
version: 0.0.7
appVersion: sha-05d74ae305f9dcb4f18c404ae4b13972cb69f9b7
kubeVersion: ">=1.22.0-0"
keywords:
  - 3d-printing
  - machine-learning
dependencies:
  - name: common
    repository: https://bjw-s.github.io/helm-charts
    version: 1.3.2
  - name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 17.8.0
    condition: redis.enabled
sources:
  - https://github.com/TheSpaghettiDetective/obico-server
  - https://github.com/gabe565/docker-obico
annotations:
  artifacthub.io/changes: |-
    - kind: added
      description: Add Artifact Hub links annotation
  artifacthub.io/links: |-
    - name: App Source
      url: https://github.com/TheSpaghettiDetective/obico-server
    - name: Container Source
      url: https://github.com/gabe565/docker-obico
    - name: Chart Source
      url: https://github.com/gabe565/charts/tree/main/charts/obico
