#
# IMPORTANT NOTE
#
# This chart inherits from our common library chart. You can check the default values/options here:
# https://github.com/bjw-s/helm-charts/blob/main/charts/library/common/values.yaml
#

server:
  image:
    # -- Server image repository
    repository: ghcr.io/gabe565/obico/web
    # -- Server image pull policy
    pullPolicy: IfNotPresent
    # -- Server image tag
    # @default -- chart.appVersion
    tag: sha-72b26dfa6f35800388816c621870664e5501dd19

  # -- Command to run Obico server.
  # @default -- See [values.yaml](./values.yaml)
  command:
    - python
    - manage.py
    - runserver
    - --nostatic
    - --noreload
    - 0.0.0.0:3334

  initContainers:
    collectstatic:
      # -- Static asset generation command.
      # @default -- See [values.yaml](./values.yaml)
      command:
        - python
        - manage.py
        - collectstatic
        - --verbosity=2
        - --noinput
        - --link
    migrate:
      # -- Database migration command.
      # @default -- See [values.yaml](./values.yaml)
      command:
        - python
        - manage.py
        - migrate

  additionalContainers:
    tasks:
      # -- Task command.
      # @default -- See [values.yaml](./values.yaml)
      command:
        - celery
        - --app=config
        - worker
        - --beat
        - --loglevel=info
        - --concurrency=2
        - --queues=realtime,celery
        - --schedule=/tmp/celerybeat-schedule

  # -- Server environment variables. [[ref]](https://github.com/TheSpaghettiDetective/obico-server/blob/master/dotenv.example)
  # @default -- See [values.yaml](./values.yaml)
  env:
    # EMAIL_HOST:
    # EMAIL_PORT: "587"
    # EMAIL_USE_TLS: 'True'
    # EMAIL_HOST_USER:
    # EMAIL_HOST_PASSWORD:
    # DEFAULT_FROM_EMAIL:
    # ADMIN_IP_WHITELIST:
    # SITE_IS_PUBLIC: "False"
    # ACCOUNT_ALLOW_SIGN_UP: "False"
    # SOCIAL_LOGIN: "False"
    # OCTOPRINT_TUNNEL_PORT_RANGE: "0-0"
    # TELEGRAM_BOT_TOKEN:
    # TWILIO_ACCOUNT_SID:
    # TWILIO_AUTH_TOKEN:
    # TWILIO_FROM_NUMBER:
    # SENTRY_DSN:
    # PUSHOVER_APP_TOKEN:
    # SLACK_CLIENT_ID:
    # SLACK_CLIENT_SECRET:

  persistence:
    # -- Data persistence config.
    # @default -- See [values.yaml](./values.yaml)
    data:
      enabled: false
      # storageClass:
      # accessMode: ReadWriteOnce
      # size:

    # -- Media persistence config.
    # @default -- See [values.yaml](./values.yaml)
    media:
      enabled: false
      mountPath: /app/static_build/media
      # storageClass:
      # accessMode: ReadWriteOnce
      # size:

    # -- Static asset persistence config.
    # @default -- See [values.yaml](./values.yaml)
    static:
      enabled: true
      type: emptyDir
      mountPath: /app/static_build

  # -- Configures service settings for the ML API.
  # @default -- See [values.yaml](./values.yaml)
  service:
    main:
      ports:
        http:
          port: 3334

  ingress:
    # -- Enable and configure ingress settings for the chart under this key.
    # @default -- See [values.yaml](./values.yaml)
    main:
      enabled: false
      annotations:
        nginx.ingress.kubernetes.io/proxy-body-size: 64m
      # hosts:
      #   - host: example.com
      #     paths:
      #       - path: /
      # tls:
      #   - secretName: example.com-tls
      #     hosts:
      #       - example.com

ml-api:
  image:
    # -- ML API image repository
    repository: ghcr.io/gabe565/obico/ml-api
    # -- ML API image pull policy
    pullPolicy: IfNotPresent
    # -- ML API image tag
    # @default -- chart.appVersion
    tag: sha-72b26dfa6f35800388816c621870664e5501dd19

  controller:
    # -- Set the ML API upgrade strategy
    strategy: RollingUpdate

  env:
    # -- Enables debug logging
    DEBUG: "True"

  # -- Command to run ML API.
  # @default -- See [values.yaml](./values.yaml)
  command:
    - gunicorn
    - --bind=0.0.0.0:3333
    - --workers=1
    - --access-logfile=-
    - wsgi

  # -- Configures service settings for the ML API.
  # @default -- See [values.yaml](./values.yaml)
  service:
    main:
      ports:
        http:
          port: 3333

podSecurityContext:
  # -- Run as `nobody` user
  runAsUser: 65534
  # -- Run as `nobody` group
  runAsGroup: 65534
  # -- Volume binds will be granted to `nobody` group
  fsGroup: 65534

# -- Enable and configure redis subchart under this key. [[ref]](https://github.com/bitnami/charts/tree/master/bitnami/redis)
# @default -- See [values.yaml](./values.yaml)
redis:
  enabled: true
  auth:
    enabled: true
  master:
    persistence:
      enabled: false
  replica:
    replicaCount: 0
