html {
  font-size: 16px;
}

.nav__list label {
  transition: none !important;

  &:before, &:after {
    transition: none !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em !important;
}

a {
  text-decoration: none;
}

a, p, li, figcaption, td {
  > code {
    padding: 0.2em 0.4em;
    font-size: $type-size-6 !important;

    &:before, &:after {
      content: none !important;
    }
  }
}

div.highlighter-rouge, figure.highlight {
  line-height: 1.45 !important;
}

table {
  font-size: $type-size-5;
}

table {
  thead {
    background-color: inherit;
    border-bottom: none;
  }

  tr:nth-child(2n) {
    background-color: $color-canvas-subtle;
  }

  th, td {
    border: 1px solid $border-color;
  }
}
