$type-size-6: 0.85em !default;

$h-size-1: 2em !default;
$h-size-2: 1.5em !default;
$h-size-3: 1.25em !default;
$h-size-4: 1em !default;
$h-size-5: 0.875em !default;
$h-size-6: 0.85em !default;

$link-color: $info-color !default;
$link-color-visited: $link-color !default;
$link-color-hover: $link-color !default;

$intro-transition: none !default;
$global-transition: none !default;
