:root {
    --content-max-width: 900px;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.rust {
    --sidebar-non-existant: #84878a;
}

.light {
    --sidebar-non-existant: #747474;
}

.coal {
    --sidebar-non-existant: #707377;
}

.navy {
    --sidebar-non-existant: #7e7f98;
}

.ayu {
    --sidebar-non-existant: #78808a;
}
