---
---

@charset "utf-8";

$background-color: #0d1117;
$text-color: #c9d1d9;
$primary-color: #00adb5;
$info-color: #58a6ff;
$border-color: #30363d;
$color-canvas-subtle: #161b22;

$code-background-color: rgba(110, 118, 129, 0.4);

$base00: #161b22;
$base01: #242422;
$base02: #484844;
$base03: #6c6c66;
$base04: #918f88;
$base05: #79c0ff;
$base06: #d9d7cc;
$base07: #fdfbee;
$base08: #79c0ff;
$base09: #79c0ff;
$base0a: #ffffb6;
$base0b: #a5d6ff;
$base0c: #c6c5fe;
$base0d: #7ee787;
$base0e: #ff73fd;
$base0f: #b18a3d;

@import "variables";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin_dark | default: 'default' }}";
@import "minimal-mistakes";
@import "overrides";
