apiVersion: v2
name: headscale
description: An open source, self-hosted implementation of the Tailscale control server.
home: https://github.com/gabe565/charts/tree/main/charts/headscale
icon: https://raw.githubusercontent.com/juanfont/headscale/641c6fd439a915150db3c2e83928e289b7e0c9d2/docs/logo/headscale3-dots.png
type: application
version: 0.3.0
# renovate image=headscale/headscale
appVersion: 0.17.1
kubeVersion: ">=1.22.0-0"
keywords:
  - headscale
  - tailscale
  - wireguard
  - vpn
dependencies:
  - name: common
    repository: https://bjw-s.github.io/helm-charts
    version: 1.2.1
  - name: postgresql
    version: 11.9.13
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
sources:
  - https://github.com/juanfont/headscale
annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: Bump common subchart to v1.2.1
    - kind: changed
      description: Bump postgresql subchart to v11.9.13
