apiVersion: v2
name: headscale
description: An open source, self-hosted implementation of the Tailscale control server.
home: https://charts.gabe565.com/charts/headscale/
icon: https://raw.githubusercontent.com/juanfont/headscale/56a7b1e/docs/logo/headscale3-dots.svg
type: application
version: 0.16.0
# renovate datasource=docker depName=ghcr.io/juanfont/headscale
appVersion: v0.25.0
kubeVersion: ">=1.22.0-0"
keywords:
  - headscale
  - tailscale
  - wireguard
  - vpn
dependencies:
  - name: common
    repository: https://bjw-s.github.io/helm-charts
    version: 1.5.1
  - name: postgresql
    version: 14.3.3
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
sources:
  - https://github.com/juanfont/headscale
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: Update ghcr.io/juanfont/headscale docker tag to v0.25.0
  artifacthub.io/links: |-
    - name: App Source
      url: https://github.com/juanfont/headscale
    - name: Chart Source
      url: https://github.com/gabe565/charts/tree/main/charts/headscale
