apiVersion: v2
name: headscale
description: An open source, self-hosted implementation of the Tailscale control server.
home: https://charts.gabe565.com/charts/headscale/
icon: https://raw.githubusercontent.com/juanfont/headscale/56a7b1e34952c3e0306a134b2be9b4277f5d8d6e/docs/logo/headscale3-dots.svg
type: application
version: 0.12.4
# renovate datasource=docker depName=ghcr.io/juanfont/headscale
appVersion: 0.22.3
kubeVersion: ">=1.22.0-0"
keywords:
  - headscale
  - tailscale
  - wireguard
  - vpn
dependencies:
  - name: common
    repository: https://bjw-s.github.io/helm-charts
    version: 1.5.1
  - name: postgresql
    version: 12.8.0
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
sources:
  - https://github.com/juanfont/headscale
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: Update common Helm release to v1.5.1
    - kind: changed
      description: Update postgresql Helm release to v12.8.0
    - kind: added
      description: Add OCI install docs
  artifacthub.io/links: |-
    - name: App Source
      url: https://github.com/juanfont/headscale
    - name: Chart Source
      url: https://github.com/gabe565/charts/tree/main/charts/headscale
