apiVersion: v2
name: home-assistant
description: Open source home automation that puts local control and privacy first.
home: https://charts.gabe565.com/charts/home-assistant/
icon: https://raw.githubusercontent.com/home-assistant/assets/master/logo/logo-pretty.svg
type: application
version: 0.6.1
# renovate datasource=docker depName=ghcr.io/home-assistant/home-assistant
appVersion: 2023.6.2
kubeVersion: ">=1.22.0-0"
keywords:
  - home-automation
  - mqtt
  - iot
  - internet-of-things
dependencies:
  - name: common
    repository: https://bjw-s.github.io/helm-charts
    version: 1.5.0
  - name: postgresql
    version: 12.2.7
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
sources:
  - https://github.com/home-assistant/core
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: Update ghcr.io/home-assistant/home-assistant Docker tag to v2023.6.1
  artifacthub.io/links: |-
    - name: App Source
      url: https://github.com/home-assistant/core
    - name: Chart Source
      url: https://github.com/gabe565/charts/tree/main/charts/home-assistant
