apiVersion: v2
name: home-assistant
description: Open source home automation that puts local control and privacy first.
home: https://charts.gabe565.com/charts/home-assistant/
icon: https://raw.githubusercontent.com/home-assistant/assets/master/logo/logo-pretty.svg
type: application
version: 0.1.8
# renovate datasource=docker depName=ghcr.io/home-assistant/home-assistant
appVersion: 2023.3.6
kubeVersion: ">=1.22.0-0"
keywords:
  - home-automation
  - mqtt
  - iot
  - internet-of-things
dependencies:
  - name: common
    repository: https://bjw-s.github.io/helm-charts
    version: 1.3.2
  - name: postgresql
    version: 12.1.14
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
sources:
  - https://github.com/gabe565/charts/tree/main/charts/home-assistant
  - https://home-assistant.io
  - https://github.com/home-assistant/core
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: Update default values for codeserver addon
    - kind: added
      description: Add example ingress values
