{{- define "custom.chart.icon" -}}
{{- $icon := "$ICON" -}}
{{- if $icon -}}
  <img src="{{ $icon }}" align="right" width="92" alt="{{ template "chart.name" . }} logo" style="padding-left: 20px">

{{ end -}}
{{- end -}}
