name: Release

on:
  push:
    branches:
      - main

jobs:
  release-charts:
    name: Release Charts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Add bitnami charts
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami

      - name: Add bjw-s charts
        run: |
          helm repo add bjw-s https://bjw-s.github.io/helm-charts

      - name: Remove readme images
        run: |
          set -x
          for f in charts/**/README.md; do
            sed -i '/^<img .* alt=".* logo"/,+1d' "$f"
          done

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.5.0
        env:
          CR_TOKEN: "${{ github.token }}"
          CR_SKIP_EXISTING: "true"

  release-docs:
    name: Release Docs
    needs: [release-charts]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Prepare docs
        run: ./docs/hack/prepare-docs.sh "${{ github.server_url }}/${{ github.repository }}"

      - name: Set up mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          # renovate datasource=github-releases depName=rust-lang/mdBook
          mdbook-version: "0.4.28"

      - name: Build docs
        working-directory: docs
        run: mdbook build

      - name: Strip index from links
        run: ./docs/hack/strip-link-index.sh

      - name: Deploy markdown
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs/book
          clean-exclude: |
            artifacthub-repo.yml
            index.yaml
